.project-page .project-carousel {
  padding: 0 2rem;
  margin-top: 10rem; }

.project-page .slick-slide {
  padding: 0 2rem;
  transform: scale(0.8); }
  .project-page .slick-slide.slick-current {
    transition-duration: 0.3s;
    transition-timing-function: linear;
    transform: scale(1.1); }

.project-page .project-showcase .projects,
.project-page .project-showcase .project-card-box {
  height: 100%;
  min-height: 450px;
  z-index: 1000; }
  @media only screen and (max-width: 1200px) {
    .project-page .project-showcase .projects .project-card__desc,
    .project-page .project-showcase .project-card-box .project-card__desc {
      font-size: 0.8rem; } }
  .project-page .project-showcase .projects .project-card,
  .project-page .project-showcase .project-card-box .project-card {
    font-family: "Poppins", sans-serif;
    cursor: pointer; }
    @media only screen and (max-width: 1200px) {
      .project-page .project-showcase .projects .project-card .project-card__title,
      .project-page .project-showcase .project-card-box .project-card .project-card__title {
        font-size: 1.2rem; } }
    @media (max-width: 1024px) {
      .project-page .project-showcase .projects .project-card .project-card__icon-box,
      .project-page .project-showcase .project-card-box .project-card .project-card__icon-box {
        margin-top: -6%;
        opacity: 1; } }
    @media (max-width: 1024px) {
      .project-page .project-showcase .projects .project-card .project-card__content,
      .project-page .project-showcase .project-card-box .project-card .project-card__content {
        transform: translate(-5%, 0%); } }
    .project-page .project-showcase .projects .project-card__title,
    .project-page .project-showcase .project-card-box .project-card__title {
      color: #1CBBDA;
      font-size: 1.6rem; }
      @media (max-width: 1024px) {
        .project-page .project-showcase .projects .project-card__title,
        .project-page .project-showcase .project-card-box .project-card__title {
          font-size: 1.2rem; } }
    .project-page .project-showcase .projects .project-card__desc,
    .project-page .project-showcase .project-card-box .project-card__desc {
      font-size: 1rem;
      color: #ABABAB; }
      @media (max-width: 1024px) {
        .project-page .project-showcase .projects .project-card__desc,
        .project-page .project-showcase .project-card-box .project-card__desc {
          font-size: 0.8rem;
          grid-template-columns: repeat(auto-fit, 1fr); } }
    .project-page .project-showcase .projects .project-card__content,
    .project-page .project-showcase .project-card-box .project-card__content {
      background-color: #090909;
      width: 90%;
      margin-top: -20%;
      margin-left: auto;
      transition: all 0.4s ease-out; }
    .project-page .project-showcase .projects .project-card__img,
    .project-page .project-showcase .project-card-box .project-card__img {
      width: 100%;
      max-height: 220px;
      object-fit: cover;
      object-position: top; }
    .project-page .project-showcase .projects .project-card__icon-box,
    .project-page .project-showcase .project-card-box .project-card__icon-box {
      transform: translateY(0%);
      opacity: 0;
      transition: all 0.4s ease; }
    .project-page .project-showcase .projects .project-card__icon,
    .project-page .project-showcase .project-card-box .project-card__icon {
      background: #1cbbda;
      cursor: pointer;
      background: linear-gradient(180deg, #1cbbda 0%, #00447f 100%);
      transition: all 0.4s ease-out; }
      .project-page .project-showcase .projects .project-card__icon:hover,
      .project-page .project-showcase .project-card-box .project-card__icon:hover {
        transform: rotate(80deg);
        -ms-transform: rotate(80deg); }
  .project-page .project-showcase .projects:hover .project-card__icon-box,
  .project-page .project-showcase .project-card-box:hover .project-card__icon-box {
    transform: translateY(-86%);
    opacity: 1; }
  .project-page .project-showcase .projects:hover .project-card__content,
  .project-page .project-showcase .project-card-box:hover .project-card__content {
    transform: translate(-5%, 0%); }
  .project-page .project-showcase .projects:focus-visible,
  .project-page .project-showcase .project-card-box:focus-visible {
    outline: none; }
  @media only screen and (max-width: 1200px) {
    .project-page .project-showcase .projects,
    .project-page .project-showcase .project-card-box {
      height: 100%;
      min-height: 350px; } }

@media only screen and (max-width: 1199px) {
  .project-page .project-showcase .projects .project-card__img,
  .project-page .project-showcase .project-card-box .project-card__img {
    max-height: 160px !important; } }

@media only screen and (max-width: 991px) {
  .project-page .project-showcase .projects .project-card__img,
  .project-page .project-showcase .project-card-box .project-card__img {
    max-height: 185px !important; } }

@media only screen and (max-width: 767px) {
  .project-page .project-showcase .projects .project-card__img,
  .project-page .project-showcase .project-card-box .project-card__img {
    height: 100% !important;
    max-height: 500px !important; } }

.about-project .about-project-heading {
  font-size: 36px;
  font-family: "Montserrat", sans-serif;
  color: #1CBBDA;
  font-weight: 500; }

.about-project .content-details {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  color: #ababab;
  font-weight: 300;
  line-height: 36px;
  text-justify: inter-word; }
  @media only screen and (max-width: 1200px) {
    .about-project .content-details {
      font-size: 16px;
      line-height: 1.5; } }
  @media (max-width: 786px) {
    .about-project .content-details {
      font-size: 14px; } }
  @media only screen and (max-width: 576px) {
    .about-project .content-details {
      font-size: 12px; } }

.project-features {
  background-color: #18191B; }
  .project-features .detail-list-group {
    list-style: square outside url("/images/icons/square-bullet.svg"); }
    .project-features .detail-list-group .detail-list {
      background-color: transparent;
      border: none;
      font-size: 20px;
      font-weight: 300;
      font-family: "Poppins", sans-serif;
      color: #ABABAB; }
      @media only screen and (max-width: 991px) {
        .project-features .detail-list-group .detail-list {
          font-size: 1rem; } }
      .project-features .detail-list-group .detail-list .list-number {
        font-size: 20px;
        color: #1CBBDA;
        font-weight: 500;
        border: 1px solid #1CBBDA; }
      .project-features .detail-list-group .detail-list .list-content {
        top: -8px; }
    @media only screen and (max-width: 576px) {
      .project-features .detail-list-group {
        list-style: square outside url("/images/icons/square-bullet-small.svg"); } }
  .project-features .project-feature-list {
    column-count: 2; }
    .project-features .project-feature-list .feature-list {
      margin-right: 20%; }
      @media (max-width: 991px) {
        .project-features .project-feature-list .feature-list {
          margin-right: 10%; } }
      @media (max-width: 786px) {
        .project-features .project-feature-list .feature-list {
          margin-right: 0;
          font-size: 1.1rem; } }
      @media only screen and (max-width: 576px) {
        .project-features .project-feature-list .feature-list {
          margin-right: 0;
          font-size: 1rem; } }
    @media (max-width: 786px) {
      .project-features .project-feature-list {
        column-count: 1; } }

.text-theme {
  color: #1CBBDA; }

.project-detail-banner {
  margin-top: 12rem; }
  @media only screen and (min-width: 991px) {
    .project-detail-banner .project-detail-banner-inner {
      margin-top: -10%; } }
  @media only screen and (max-width: 576px) {
    .project-detail-banner .banner-text .banner-title {
      font-size: 18px;
      line-height: 1.5; } }
  @media only screen and (max-width: 576px) {
    .project-detail-banner .banner-text .banner-detail {
      font-size: 16px; } }
  @media (max-width: 992px) {
    .project-detail-banner {
      margin-top: 30%; } }
  @media only screen and (max-width: 576px) {
    .project-detail-banner {
      margin-bottom: -3.3rem; } }

.modal-content {
  background: linear-gradient(360deg, #18191B 73%, transparent 32%);
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0); }
  @media only screen and (min-width: 1200px) {
    .modal-content {
      background: linear-gradient(-90deg, #18191B 73%, transparent 32%);
      clip-path: polygon(0 0, 100% 7%, 100% 91%, 0% 100%); } }
