.start-up-page {
  padding-top: 0; }
  .start-up-page .startup-button {
    padding: 5px 30px;
    height: 37px;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    border: 1px solid #1CBBDA;
    background-image: linear-gradient(90deg, #010b0f 14%, #086d81 50%, #001219 100%);
    width: fit-content; }
    @media screen and (max-width: 767px) {
      .start-up-page .startup-button {
        font-size: 16px; } }
    @media only screen and (max-width: 576px) {
      .start-up-page .startup-button {
        font-size: 14px; } }

.start-up-hero-section {
  background: #0B0B0B;
  font-family: "Montserrat", sans-serif;
  padding-top: 96px;
  padding-bottom: 160px; }
  @media screen and (max-width: 767px) {
    .start-up-hero-section {
      padding-bottom: 80px; } }
  .start-up-hero-section .start-up-hero-section-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    max-width: 860px; }
    .start-up-hero-section .start-up-hero-section-inner .start-up-hero-details {
      display: flex;
      flex-direction: column;
      gap: 24px;
      text-align: center; }
      .start-up-hero-section .start-up-hero-section-inner .start-up-hero-details .start-up-hero-heading {
        color: #fff;
        font-size: 60px;
        font-weight: 600;
        line-height: 80px;
        text-transform: uppercase;
        animation: an 1s ease-out 1 both;
        animation-delay: 1s; }
        .start-up-hero-section .start-up-hero-section-inner .start-up-hero-details .start-up-hero-heading span {
          color: #1CBBDA; }
        @media screen and (max-width: 991px) {
          .start-up-hero-section .start-up-hero-section-inner .start-up-hero-details .start-up-hero-heading {
            font-size: 48px;
            line-height: 60px; } }
        @media screen and (max-width: 767px) {
          .start-up-hero-section .start-up-hero-section-inner .start-up-hero-details .start-up-hero-heading {
            font-size: 32px;
            line-height: 40px; } }
        @media screen and (max-width: 576px) {
          .start-up-hero-section .start-up-hero-section-inner .start-up-hero-details .start-up-hero-heading {
            font-size: 24px;
            line-height: 30px; } }
      .start-up-hero-section .start-up-hero-section-inner .start-up-hero-details .start-up-hero-sub-heading {
        color: #ABABAB;
        font-family: "Poppins", sans-serif;
        font-size: 24px; }
        @media screen and (max-width: 991px) {
          .start-up-hero-section .start-up-hero-section-inner .start-up-hero-details .start-up-hero-sub-heading {
            font-size: 20px; } }
        @media screen and (max-width: 767px) {
          .start-up-hero-section .start-up-hero-section-inner .start-up-hero-details .start-up-hero-sub-heading {
            font-size: 16px; } }
      .start-up-hero-section .start-up-hero-section-inner .start-up-hero-details .start-up-hero-heading,
      .start-up-hero-section .start-up-hero-section-inner .start-up-hero-details .start-up-hero-sub-heading {
        margin: 0; }
  .start-up-hero-section .squares {
    z-index: 111;
    content: "";
    position: absolute;
    border: 1px solid #1CBBDA;
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg); }
  .start-up-hero-section .squares-second {
    z-index: 111;
    content: "";
    position: absolute;
    border: 1px solid #1CBBDA;
    background-color: #18191b;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
    @media only screen and (max-width: 1024px) {
      .start-up-hero-section .squares-second {
        top: 90%;
        right: 15%; } }
  @media only screen and (max-width: 1024px) {
    .start-up-hero-section .squares-second {
      top: 90%;
      right: 15%; } }

.start-up-support-section {
  font-family: "Poppins", sans-serif;
  color: #1CBBDA;
  padding-bottom: 160px;
  background: #0B0B0B; }
  @media screen and (max-width: 767px) {
    .start-up-support-section {
      padding-bottom: 80px; } }
  .start-up-support-section .start-up-support-section-inner {
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center; }
    .start-up-support-section .start-up-support-section-inner h2 {
      color: #fff;
      margin: 0;
      font-size: 42px;
      text-transform: capitalize;
      font-weight: 500;
      text-align: center; }
      .start-up-support-section .start-up-support-section-inner h2 span {
        color: #1CBBDA; }
      @media screen and (max-width: 768px) {
        .start-up-support-section .start-up-support-section-inner h2 {
          font-size: 32px; } }
      @media only screen and (max-width: 576px) {
        .start-up-support-section .start-up-support-section-inner h2 {
          font-size: 25px; } }
    .start-up-support-section .start-up-support-section-inner .start-up-support-description {
      display: flex;
      gap: 60px; }
      @media screen and (max-width: 991px) {
        .start-up-support-section .start-up-support-section-inner .start-up-support-description {
          flex-direction: column;
          align-items: center; } }
      .start-up-support-section .start-up-support-section-inner .start-up-support-description .start-up-support-expertise-table {
        display: flex;
        flex-direction: column;
        gap: 16px; }
        @media screen and (min-width: 991px) {
          .start-up-support-section .start-up-support-section-inner .start-up-support-description .start-up-support-expertise-table {
            width: 450px; } }
        @media screen and (max-width: 991px) {
          .start-up-support-section .start-up-support-section-inner .start-up-support-description .start-up-support-expertise-table {
            width: 90vw; } }
        @media screen and (max-width: 576px) {
          .start-up-support-section .start-up-support-section-inner .start-up-support-description .start-up-support-expertise-table {
            text-align: center; } }
        .start-up-support-section .start-up-support-section-inner .start-up-support-description .start-up-support-expertise-table p {
          margin: 0;
          box-shadow: 0px 0px 2px 0px #1cbbda;
          height: 56px;
          padding: 16px;
          font-size: 18px;
          min-width: max-content;
          text-transform: capitalize; }
          @media screen and (max-width: 767px) {
            .start-up-support-section .start-up-support-section-inner .start-up-support-description .start-up-support-expertise-table p {
              font-size: 16px; } }
      .start-up-support-section .start-up-support-section-inner .start-up-support-description .start-up-support-clutch-description {
        display: flex;
        flex-direction: column;
        background: #18191B;
        padding: 30px;
        gap: 30px;
        box-shadow: 0px 0px 2px 0px #1cbbda; }
        @media screen and (max-width: 991px) {
          .start-up-support-section .start-up-support-section-inner .start-up-support-description .start-up-support-clutch-description {
            width: 90vw; } }
        @media screen and (min-width: 991px) {
          .start-up-support-section .start-up-support-section-inner .start-up-support-description .start-up-support-clutch-description {
            max-width: 840px; } }
        .start-up-support-section .start-up-support-section-inner .start-up-support-description .start-up-support-clutch-description h2 {
          padding-bottom: 16px;
          border-bottom: 1px solid #ABABAB;
          text-align: left; }
        .start-up-support-section .start-up-support-section-inner .start-up-support-description .start-up-support-clutch-description .start-up-support-badges-container {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around; }
          @media only screen and (max-width: 667px) {
            .start-up-support-section .start-up-support-section-inner .start-up-support-description .start-up-support-clutch-description .start-up-support-badges-container {
              gap: 35px; } }
          @media only screen and (min-width: 677px) {
            .start-up-support-section .start-up-support-section-inner .start-up-support-description .start-up-support-clutch-description .start-up-support-badges-container .clutch-badges-img {
              min-height: 185px;
              max-height: 120px; } }
        .start-up-support-section .start-up-support-section-inner .start-up-support-description .start-up-support-clutch-description a {
          font-size: 18px;
          font-weight: 600;
          text-transform: capitalize;
          display: flex;
          gap: 16px;
          text-decoration: none;
          margin-top: auto; }
          @media screen and (max-width: 991px) {
            .start-up-support-section .start-up-support-section-inner .start-up-support-description .start-up-support-clutch-description a {
              padding-top: 78px; } }
          @media screen and (max-width: 767px) {
            .start-up-support-section .start-up-support-section-inner .start-up-support-description .start-up-support-clutch-description a {
              font-size: 16px; } }

.start-up-problem-section {
  padding: 60px 80px;
  background: linear-gradient(177deg, #086d81 2.28%, #001219 138.57%);
  box-shadow: 0px 0px 2px 0px #1CBBDA;
  color: #fff;
  font-family: "Poppins", sans-serif; }
  @media screen and (max-width: 1199px) {
    .start-up-problem-section {
      padding: 60px 0; } }
  .start-up-problem-section .start-up-problem-section-inner {
    display: flex;
    justify-content: space-between; }
    @media screen and (max-width: 991px) {
      .start-up-problem-section .start-up-problem-section-inner {
        flex-direction: column;
        align-items: center;
        gap: 32px; } }
    .start-up-problem-section .start-up-problem-section-inner .start-up-heading {
      margin: 0;
      font-size: 50px;
      font-weight: 500;
      text-transform: capitalize;
      max-width: 540px;
      line-height: 70px; }
      .start-up-problem-section .start-up-problem-section-inner .start-up-heading span {
        color: #1CBBDA; }
      @media screen and (max-width: 991px) {
        .start-up-problem-section .start-up-problem-section-inner .start-up-heading {
          text-align: center;
          font-size: 48px;
          line-height: 60px; } }
      @media screen and (max-width: 767px) {
        .start-up-problem-section .start-up-problem-section-inner .start-up-heading {
          font-size: 32px;
          line-height: 40px; } }
      @media screen and (max-width: 576px) {
        .start-up-problem-section .start-up-problem-section-inner .start-up-heading {
          font-size: 24px;
          line-height: 30px; } }
    .start-up-problem-section .start-up-problem-section-inner .start-up-meeting {
      display: flex;
      flex-direction: column;
      gap: 24px; }
      @media screen and (max-width: 991px) {
        .start-up-problem-section .start-up-problem-section-inner .start-up-meeting {
          align-items: center; } }
      .start-up-problem-section .start-up-problem-section-inner .start-up-meeting .start-up-meeting-description {
        display: flex;
        flex-direction: column;
        gap: 16px;
        font-size: 20px;
        font-weight: 500; }
        @media screen and (max-width: 991px) {
          .start-up-problem-section .start-up-problem-section-inner .start-up-meeting .start-up-meeting-description {
            font-size: 18px; } }
        @media screen and (max-width: 767px) {
          .start-up-problem-section .start-up-problem-section-inner .start-up-meeting .start-up-meeting-description {
            font-size: 16px; } }
        .start-up-problem-section .start-up-problem-section-inner .start-up-meeting .start-up-meeting-description p {
          margin: 0; }
          @media screen and (max-width: 991px) {
            .start-up-problem-section .start-up-problem-section-inner .start-up-meeting .start-up-meeting-description p {
              text-align: center; } }

.start-up-success-section {
  background: #0B0B0B;
  padding: 160px 0;
  color: #fff;
  font-family: "Poppins", sans-serif; }
  @media screen and (max-width: 767px) {
    .start-up-success-section {
      padding: 80px 0; } }
  @media screen and (max-width: 768px) {
    .start-up-success-section .start-up-success-section-wrapper {
      padding: 0; } }
  .start-up-success-section .start-up-success-section-inner {
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center; }
    .start-up-success-section .start-up-success-section-inner .start-up-success-heading {
      text-align: center;
      font-size: 42px;
      font-weight: 500;
      margin: 0; }
      @media only screen and (max-width: 768px) {
        .start-up-success-section .start-up-success-section-inner .start-up-success-heading {
          font-size: 30px; } }
      @media only screen and (max-width: 576px) {
        .start-up-success-section .start-up-success-section-inner .start-up-success-heading {
          font-size: 25px; } }
      .start-up-success-section .start-up-success-section-inner .start-up-success-heading span {
        color: #1CBBDA; }
    .start-up-success-section .start-up-success-section-inner .custom-tabs {
      width: 100%; }
      .start-up-success-section .start-up-success-section-inner .custom-tabs .custom-tabs__list {
        gap: 10px;
        display: flex;
        list-style: none;
        justify-content: space-between;
        font-size: 18px;
        border-bottom: 1px solid #ABABAB;
        margin: 0;
        padding: 0;
        cursor: pointer;
        font-weight: 600; }
        @media screen and (max-width: 767px) {
          .start-up-success-section .start-up-success-section-inner .custom-tabs .custom-tabs__list {
            font-size: 16px; } }
        .start-up-success-section .start-up-success-section-inner .custom-tabs .custom-tabs__list .custom-tab {
          padding: 0px 0px 24px;
          text-align: center;
          max-width: 150px;
          display: flex;
          align-items: center; }
          @media screen and (max-width: 991px) {
            .start-up-success-section .start-up-success-section-inner .custom-tabs .custom-tabs__list .custom-tab {
              display: none; } }
        .start-up-success-section .start-up-success-section-inner .custom-tabs .custom-tabs__list .active {
          padding: 0px 40px 20px;
          border-bottom: 3px solid #1CBBDA;
          max-width: 220px;
          color: #1CBBDA; }
          @media screen and (max-width: 991px) {
            .start-up-success-section .start-up-success-section-inner .custom-tabs .custom-tabs__list .active {
              display: inline-block;
              padding: 0 25px 12px;
              width: 100vw;
              text-align: center;
              max-width: 100%;
              border: none; } }
    .start-up-success-section .start-up-success-section-inner .start-up-portfolio-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 40px;
      width: 100%; }
      @media screen and (max-width: 991px) {
        .start-up-success-section .start-up-success-section-inner .start-up-portfolio-content {
          gap: 20px;
          justify-content: center; } }
      .start-up-success-section .start-up-success-section-inner .start-up-portfolio-content .arrow {
        cursor: pointer; }
        @media screen and (max-width: 991px) {
          .start-up-success-section .start-up-success-section-inner .start-up-portfolio-content .arrow {
            width: 40px;
            height: 40px; } }
        @media screen and (max-width: 576px) {
          .start-up-success-section .start-up-success-section-inner .start-up-portfolio-content .arrow {
            width: 20px;
            height: 20px; } }
      .start-up-success-section .start-up-success-section-inner .start-up-portfolio-content .start-up-project-container {
        display: flex;
        flex-direction: column;
        gap: 60px;
        width: 100%; }
        .start-up-success-section .start-up-success-section-inner .start-up-portfolio-content .start-up-project-container .project-card {
          display: flex;
          gap: 76px; }
          @media screen and (max-width: 991px) {
            .start-up-success-section .start-up-success-section-inner .start-up-portfolio-content .start-up-project-container .project-card {
              flex-direction: column;
              align-items: center; } }
          @media screen and (max-width: 1199px) and (min-width: 991px) {
            .start-up-success-section .start-up-success-section-inner .start-up-portfolio-content .start-up-project-container .project-card {
              gap: 40px; } }
          @media screen and (max-width: 768px) {
            .start-up-success-section .start-up-success-section-inner .start-up-portfolio-content .start-up-project-container .project-card {
              gap: 50px; } }
          .start-up-success-section .start-up-success-section-inner .start-up-portfolio-content .start-up-project-container .project-card .testimonial-user_image {
            width: 450px;
            object-fit: contain;
            object-position: top; }
            @media screen and (max-width: 1199px) and (min-width: 576px) {
              .start-up-success-section .start-up-success-section-inner .start-up-portfolio-content .start-up-project-container .project-card .testimonial-user_image {
                width: 400px;
                height: auto; } }
            @media screen and (max-width: 576px) {
              .start-up-success-section .start-up-success-section-inner .start-up-portfolio-content .start-up-project-container .project-card .testimonial-user_image {
                width: 100%;
                height: auto; } }
          .start-up-success-section .start-up-success-section-inner .start-up-portfolio-content .start-up-project-container .project-card .testimonial-user_details {
            display: flex;
            flex-direction: column;
            gap: 24px; }
            @media screen and (max-width: 991px) {
              .start-up-success-section .start-up-success-section-inner .start-up-portfolio-content .start-up-project-container .project-card .testimonial-user_details {
                align-items: center; } }
            .start-up-success-section .start-up-success-section-inner .start-up-portfolio-content .start-up-project-container .project-card .testimonial-user_details .testimonial-user_review {
              margin: 0;
              font-size: 20px;
              color: #ABABAB; }
              @media screen and (max-width: 1200px) {
                .start-up-success-section .start-up-success-section-inner .start-up-portfolio-content .start-up-project-container .project-card .testimonial-user_details .testimonial-user_review {
                  font-size: 18px; } }
              @media screen and (max-width: 991px) {
                .start-up-success-section .start-up-success-section-inner .start-up-portfolio-content .start-up-project-container .project-card .testimonial-user_details .testimonial-user_review {
                  text-align: center; } }
              @media only screen and (max-width: 576px) {
                .start-up-success-section .start-up-success-section-inner .start-up-portfolio-content .start-up-project-container .project-card .testimonial-user_details .testimonial-user_review {
                  font-size: 16px; } }
            .start-up-success-section .start-up-success-section-inner .start-up-portfolio-content .start-up-project-container .project-card .testimonial-user_details .testimonial-user_logo {
              align-items: center;
              display: flex;
              gap: 24px; }
              @media only screen and (max-width: 367px) {
                .start-up-success-section .start-up-success-section-inner .start-up-portfolio-content .start-up-project-container .project-card .testimonial-user_details .testimonial-user_logo {
                  flex-direction: column;
                  text-align: center; } }
              .start-up-success-section .start-up-success-section-inner .start-up-portfolio-content .start-up-project-container .project-card .testimonial-user_details .testimonial-user_logo .testimonial-user-detail {
                display: flex;
                flex-direction: column;
                gap: 6px;
                text-transform: capitalize; }
                .start-up-success-section .start-up-success-section-inner .start-up-portfolio-content .start-up-project-container .project-card .testimonial-user_details .testimonial-user_logo .testimonial-user-detail p {
                  margin: 0; }
                .start-up-success-section .start-up-success-section-inner .start-up-portfolio-content .start-up-project-container .project-card .testimonial-user_details .testimonial-user_logo .testimonial-user-detail .testimonial-user-name {
                  font-size: 24px;
                  font-weight: 600; }
                  @media screen and (max-width: 1200px) {
                    .start-up-success-section .start-up-success-section-inner .start-up-portfolio-content .start-up-project-container .project-card .testimonial-user_details .testimonial-user_logo .testimonial-user-detail .testimonial-user-name {
                      font-size: 20px; } }
                  @media only screen and (max-width: 576px) {
                    .start-up-success-section .start-up-success-section-inner .start-up-portfolio-content .start-up-project-container .project-card .testimonial-user_details .testimonial-user_logo .testimonial-user-detail .testimonial-user-name {
                      font-size: 18px; } }
                .start-up-success-section .start-up-success-section-inner .start-up-portfolio-content .start-up-project-container .project-card .testimonial-user_details .testimonial-user_logo .testimonial-user-detail .testimonial-user-designation {
                  font-size: 16px;
                  color: #ABABAB; }
                  @media only screen and (max-width: 576px) {
                    .start-up-success-section .start-up-success-section-inner .start-up-portfolio-content .start-up-project-container .project-card .testimonial-user_details .testimonial-user_logo .testimonial-user-detail .testimonial-user-designation {
                      font-size: 14px; } }

.start-up-cta-section {
  padding: 60px 0;
  background: linear-gradient(177deg, #086d81 2.28%, #001219 138.57%);
  box-shadow: 0px 0px 2px 0px #1CBBDA;
  color: #fff;
  font-family: "Poppins", sans-serif; }
  .start-up-cta-section .start-up-cta-section-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px; }
    .start-up-cta-section .start-up-cta-section-inner .start-up-cta-heading {
      display: flex;
      flex-direction: column;
      gap: 16px; }
      .start-up-cta-section .start-up-cta-section-inner .start-up-cta-heading svg {
        height: 38px;
        width: 50px; }
        @media screen and (max-width: 767px) {
          .start-up-cta-section .start-up-cta-section-inner .start-up-cta-heading svg {
            height: 30px;
            width: 30px; } }
      .start-up-cta-section .start-up-cta-section-inner .start-up-cta-heading h2 {
        margin: 0;
        font-size: 50px;
        text-transform: capitalize;
        font-weight: 600; }
        @media screen and (max-width: 767px) {
          .start-up-cta-section .start-up-cta-section-inner .start-up-cta-heading h2 {
            font-size: 32px; } }
        @media screen and (max-width: 576px) {
          .start-up-cta-section .start-up-cta-section-inner .start-up-cta-heading h2 {
            font-size: 24px; } }
