$black:#000;
$main_bg: $black;
$theme:#1CBBDA;
$theme_dull: #198fa7;
$dark_bg:#18191B;
$dark_grey:#707070;
$dark-grey-2:#7A7A7A;
$dark-grey-3:#8C8C8C;
$dark_grey-4:#878787;
$light_grey:#ABABAB;
$light_bg:#0D0D0D;
$light:#E4E8F0;
$square_bg:#263238;
$bg_effect:#0d22268e;
$highlight:#FBBA00;
$image_bg:#313131;
$dark_blue:#002440;
$number_color: #333333;
$dark_black:#0B0B0B;
